* {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.displayGrid {
  display: grid;
  height: 100px;
  border: 10vh;
  grid-template-columns: repeat(11 1fr);
  grid-template-rows: repeat(7 1fr);
}

/* grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5; */
  
.div1 {
  background-color: aqua;
}

.div2 {
}

.div3 {
}

.div4 {
}

.div5 {
}

.div6 {
}

.div7 {
}

.div8 {
}

.div9 {
}

.div10 {
}

.div11 {
}

.div12 {
}

.div13 {
}

.div14 {
}

.div15 {
}

.div16 {
}

.div17 {
}

.div18 {
}

.div19 {
}

.div20 {
}

.div21 {
}
